RewriteEngine on
RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
<Files *>
Options -Indexes
</Files>
ErrorDocument 403 http://3d.gdk.mx/
ErrorDocument 404 http://3d.gdk.mx/

