      .links {
        background-color : #eee;
        font-family : Verdana, Arial, Helvetica, sans-serif, simsun;
        font-size : 16px;
        text-align : left;
      }
      .links a:link, a:visited {
        color : #006;
        text-decoration : none;
      }
      .links a:hover {
        color : #000;
        text-decoration : underline;
      }
      .links li {
        padding-top : 3px;
        padding-bottom : 6px;
      }
      .links dl {
        margin-left : 8px;
      }
      .links dt {
        margin-left : 5px;
        margin-top : 8px;
        padding-top : 5px;
      }
      .links dd {
        line-height : 20px;
        margin-left : 30px;
        margin-top : 3px;
      }
      
      hr {
        margin : 10px 0 10px 3px;
        background : #ff0000;
        border : thin;
        height : 1px;
        text-align : left;
      }
      
            h3 {
        margin-top : 12px;
        margin-bottom : 12px;
        font-family : Verdana, Arial, Helvetica, sans-serif, simsun;
        font-size : 20px;
        font-weight : 400
      }
      
